<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>561520878152-u4fccm7cc71k69mfs8umoisdeu8pk4e9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.561520878152-u4fccm7cc71k69mfs8umoisdeu8pk4e9</string>
	<key>API_KEY</key>
	<string>AIzaSyBpnlZ9HoILREvhKuOamEcfK9p5xEOP0wg</string>
	<key>GCM_SENDER_ID</key>
	<string>561520878152</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.loginFenix</string>
	<key>PROJECT_ID</key>
	<string>login-fenix</string>
	<key>STORAGE_BUCKET</key>
	<string>login-fenix.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:561520878152:ios:956e14b54d2431ff316e7d</string>
</dict>
</plist>